a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#button_6738fbd { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; margin:10px 10px 0px 0px;width:150px; height:40px; background:none; border: 2px solid #FFFFFF; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
#button_6738fbd:hover { border-color:#C0C0C0;  }
#button_6738fbd:hover span { color:#AFAFAF; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_6c28bad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:238px; background-color:#2D2913;  }
#container_3aa1121 { vertical-align: top; position:relative; display: inline-block; width:81%; min-height:246px; max-width:1200px; background-color:#FFFFFF; background-image: url(rc_images/alm_pexels_3996362_small2.jpg); background-position:center left; background-size:cover;  }
#container_3aa1121_padding { margin: 10px; display: block;  }
.textstyle2 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_4bbdec36 { vertical-align: top; position:relative; display: inline-block; width:85%; min-height:184px; max-width:1000px; background:none;  }
#container_4bbdec36_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:left; }
#container_6929f316 { vertical-align: top; position:relative; display: inline-block; width:59%; min-height:188px; background:none;  }
#container_6929f316_padding { margin: 10px; display: block;  }
.textstyle4 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle6 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle7 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_7e510c81 { vertical-align: top; position:relative; display: inline-block; width:67%; min-height:320px; max-width:1000px; background-color:#FFFFFF;  }
#container_7e510c81_padding { margin: 10px; display: block;  }
.textstyle8 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#444444; font-weight:bold;  }
#container_49e3fcfa { vertical-align: top; position:relative; display: inline-block; width:99%; min-height:186px; background:none;  }
#container_49e3fcfa_padding { margin: 10px; display: block;  }
#button_7455863f { vertical-align: bottom; position:relative; display: inline-block; width:220px; height:40px; background-color:#3C4C65; box-shadow: 7px 7px 4px -5px rgba(0, 0, 0, 0.784314);  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
